<%= form_tag( {:controller => 'index', :action => 'show'}, :method => 'get', :id => 'search_form', :remote => true ) do %>
  <div class="form-group">
    <label for="set_selector">Set:</label>
    <%= select_tag( 'set_selector[]', options_for_select( @sets.map { |h| h[:name] }, @set_selector ), { :multiple => "multiple", :id => 'set_selector', :autocomplete => :off }  ) %>
    <label for="card_name:">Card name:</label>
    <%= text_field_tag( 'card_name', @card_name || '', { :autocomplete => :off} ) %>
  </div>
<% end %>
<div class="well">
  <div class="infinite-table">
    <table>
      <%= render :partial => 'game_objects', :object => @game_objects %>
    </table>
    <p class="pagination">
      <%= link_to_next_page( @game_objects, 'Next Page', :remote => true, :params => { :scroll => true } ) %>
    </p>
  </div>
</div>
