<!DOCTYPE html>
<html>
<head>
  <title>HEXToolbox</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Cards', { controller: 'index', action: 'show' } %></li>
      <li><%= link_to 'Equipments', { controller: 'equipment', action: 'list' } %></li>
      <li><a href=".">Decks (in development)</a></li>
      <li><a href=".">Auction House (in development)</a></li>
    </ul>
  </div>
</nav>
<body>

<div class="modal fade" id="modal-window" >
</div>
  <div class="social">
    <a class="twitter-timeline" data-width="100%" data-height="500" href="https://twitter.com/HexTCG">
    Tweets by @HexTCG</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <iframe
      src="https://player.twitch.tv/?channel=HexTCG"
      frameborder="0"
      scrolling="yes"
      height="300"
      width="100%"
      allowfullscreen="true">
    </iframe>
  </div>
  <%= yield %>
<span id="top-link-block" class="hidden">
    <a href="#top" class="well well-sm" onclick="$('html,body').animate( { scrollTop:0 },'slow' );return false;">
        <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
    </a>
</span>
</body>
</html>
